/* Css referente a modifica��o dos componentes do primefaces
qualquer altera��o de componente deve ser feita nessa folha de estilo*/

.ui-inputText{
	width: 200px !important;
	height: 20px !important;
	size: 300 !important;
	
}

.ui-panelgrid{
	width: 300px !important;
	height: 50px !important;
	font-size: 14px;
}

.ui-button{
	font-size: 12px;
}

.ui-outputlabel{
	font-size: 14px;
}
